.navbar {
  padding: 2px 20px;
  height: 100px;
  position: relative;



}

.navbar .logo {
  flex: 1;

}

.navbar .logo h6 {
  font-weight: 900;
  font-size: 30px;
}



.navbar .search {
  flex: 1;
  position: relative;
}

.navbar .search input {
  width: 100%;
  padding: 10px 30px;
  border: none;
  outline: none;
}

.navbar .search i {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  color: black;
}


// .navbar .links {
//   flex: 1;
//   display: flex;
//   justify-content: flex-end;
//   align-items: center;
//   position: relative;

// }

.navbar a {
  color: #fff;
  margin-right: 10px;

}

.navbar .user-links {
  margin-right: 20px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.navbar .shopping-cart {
  position: relative;

}

.navbar .shopping-cart i {
  font-size: 25px;
  color: #fff;
}

.navbar .shopping-cart span {
  position: absolute;
  left: 15px;
  top: 8px;
  padding: 0 10px;




}

.burger {

  width: 25px;
  height: 14px;
  position: relative;
  display: none;
  cursor: pointer;

}

.burger span {
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: 0;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  user-select: none;

}

.burger span:first-child {
  top: 0;
}

.burger span:nth-child(2) {
  top: 50%;
}

.burger span:last-child {
  top: 100%;
}


.burger .line-2.second {
  opacity: 0;


}

.burger .line-1.first {
  background-color: red;
  top: 6px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}


.burger .line-3.third {
  background-color: red;
  top: 6px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}


@media (max-width: 787px) {
  .burger {
    display: block;

  }


  .navbar .user-links {
    display: none;
  }


  .active-burger {
    display: flex !important;
    flex-direction: column;
    position: absolute;
    left: 0;
    bottom: -140px;
    width: 100%;
    background-color: #212529;
    padding: 15px;

  }

  .navbar .user-links a {
    margin:  20px;
  }







}
