<div class="navbar d-flex bg-dark text-white align-items-center">
  <div class="logo">
    <h6>
      <a routerLink="/home" class="text-white">
        <i class="fa-solid fa-shop fa-lg"></i>
      </a>
    </h6>
  </div>
  <div class="search">
    <input
      type="text"
      placeholder="Search Your Product here"
      class="form-control"
    />
    <i class="fa-solid fa-magnifying-glass"></i>
  </div>
  <div class="user-links" #burger>
    <a routerLink="/home">Home</a>
    <a routerLink="/login" *ngIf="!isUserLogged">Login</a>
    <a routerLink="/" (click)="logout()" *ngIf="isUserLogged">Logout</a>
  </div>
  <div class="burger mx-3" (click)="toggleMenu()">
    <span class="line-1" #line1></span>
    <span class="line-2" #line2></span>
    <span class="line-3" #line3></span>
  </div>
  <div class="shopping-cart">
    <a routerLink="/cart"
      ><i class="fa-solid fa-cart-shopping cart-icon"></i
    ></a>
    <span class="bg-danger rounded">{{ cartCountNumber }}</span>
  </div>
</div>
